@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

#bg-img {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 3rem);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

#aboutme {
  @include background2;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI',
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;
  line-height: 1.5;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    width: 13rem;
    height:13rem;
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    letter-spacing: .2rem;
    font-size: 1.2rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// work//projects
#work {
  @include background3;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  line-height: 1.5;
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
  img {
    width:100%;
    border: 3px #fff solid;
    &:hover {
      opacity: .5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Button styles
.btn {
  display: block;
  padding: .5rem 1rem;
  border: 0;
  margin-bottom: .3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color)
  }
}
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
  font-weight:700;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
  
}

// Contact boxes 
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  
  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: .5rem 1rem;
    margin-bottom: 3rem;
    &:hover {
      padding: .5rem 1rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }

}


#main-footer {
  display: flex;
  align-items: center ;
  text-align: center;
  padding: 1rem;
  background: #000000;
  color: #fff;
  height: 3rem;
}

@import 'mobile';